<div class="bs-docs-section">
				
	<h1>Getting Started with Contiv Network</h1>
<p>There are several ways to try out Contiv Network. All of these ways fall into two categories:</p>

<ul>
<li>Use our Vagrant scripts to set up a small-scale virtual environment on an single machine.
</li>
<li>Install Contiv Network on two or more bare-metal or virtual servers.
</li>
</ul>
<p><a id="UsingVagrant"></a></p><a id="UsingVagrant"></a>

<h2>On a Single Machine</h2>
<p>You can use our Vagrant script to get up and running fast on a single Linux or OS X machine.
Vagrant is a utility for quickly and consistently setting up virtual machines (VMs).</p>

<ul><a id="UsingVagrant"></a>
<li><a id="UsingVagrant"></a><a href="#/documents/gettingStarted/networking/singleMachine/swarm">Try out Contiv Network with Docker Swarm</a>.
</li>
<li><a href="#/documents/gettingStarted/networking/singleMachine/k8s">Try out Contiv Network with Kubernetes</a>.
</li>
<li><a href="#/documents/gettingStarted/networking/singleMachine/mesos">Try out Contiv Network with Mesos</a>.
</li>
<li><a href="#/documents/gettingStarted/networking/singleMachine/nomad">Try out Contiv Network with Nomad</a>.
</li>
</ul>
<p><a id="WithNetworkedServers"></a></p><a id="WithNetworkedServers"></a>

<h2>On Multiple Servers</h2>
<p>You can install Contiv on two or more baremetal nodes or VMs.</p>

<ul><a id="WithNetworkedServers">
</a><li><a id="WithNetworkedServers"></a><a href="#/documents/gettingStarted/networking/multipleServers/install-swarm">Install Contiv Network with Docker Swarm</a>.
</li>
<li><a href="#/documents/gettingStarted/networking/multipleServers/install-k8s">Install Contiv Network with Kubernetes</a>.
</li>
<li><a href="#/documents/gettingStarted/networking/multipleServers/bgp">Install Contiv Network in L3 BGP mode</a>.
</li>
<li><a href="#/documents/gettingStarted/networking/multipleServers/aci">Install Contiv Network with Cisco ACI</a>*.
</li>
</ul>
<p>*For more information about using Contiv Network with Cisco Application Centric Infrastructure (ACI),
contact Cisco Systems.</p>


			</div>